{erl_opts, [debug_info]}.
{deps, [
    {t__, ".*", {git, "https://github.com/ergenius/t__.git"}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [demoapp]}
]}.

{extra_src_dirs, []}.

%% Release settings
{relx, [
    {release, {demoapp, "0.1.0"}, [demoapp]},
    {dev_mode, false},
    {include_erts, true},
    {sys_config_src, "config/sys.config.src"},
    {vm_args_src, "config/vm.args.src"},
    {extended_start_script, true}
]}.